// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_navbar.scss
@import '_breakpoints';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  padding: 1rem 2rem;
  color: white;
}

.navbar-dark {
  background-color: black;
}

.navbar-brand {
  margin: 0 auto;
  flex: 0 0 10%;
  display: block;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  @media (min-width: $breakpoint-sm) {
    margin: 0;
  }
}

.navbar-nav {
  display: none;

  @media (min-width: $breakpoint-sm) {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.navbar-overflow {
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: $breakpoint-sm) {
    mask-image: -webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    -webkit-mask-image: -webkit-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    -webkit-mask-image: -moz-linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
  }
}

.nav-item {
  padding-left: 16px;
  font-size: .95rem;
  cursor: pointer;
}

.nav-link {
  color: hsla(0, 0%, 100%, .8);
  text-decoration: none;
}

.navbar--sidemenu--button {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  color: white;

  @media (min-width: $breakpoint-sm) {
    display: none;
  }

  &.-hidden {
    display: none;
  }
}
