// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_navbar.scss
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 8px;
  color: white;
}

.navbar-dark {
  background-color: #343A42;
}

.navbar-brand {
  display: block;
  min-width: 100px;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding-left: 16px;
  font-size: .95rem;
  cursor: pointer;
}

.nav-link {
  color: hsla(0, 0%, 100%, .5);
  text-decoration: none;
}
