@import '_breakpoints';

.sidenav--brand {
  margin: 0 auto;
  flex: 0 0 10%;
  display: block;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  @media (min-width: $breakpoint-sm) {
    margin: 0;
  }
}
.sidenav--background {

  &.-active {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: rgba(255,255,255, 0.5);
  }
}

.sidenav--menu {
  overflow-y: scroll;
  padding: 1rem;
  font-size: 0.75rem;
  background: black;
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  right: -150%;
  z-index: 10;
  text-align: center;
  transition: right 1s;

  @media (min-width: $breakpoint-sm) {
    display: none;
  }

  &.-open {
    right: 0;
  }

}

.sidenav--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.sidenav--list--item {
  padding-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;

  a {
    color: white;
  }
}

.sidenav--close--button {
  position: absolute;
  top: 0;
  right: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 2.4rem;
  text-align: center;
  color: white;
}
