pre {
 background: #292b2c;
 -webkit-font-smoothing: antialiased;
 border-left: 4px solid #2C8EBB;
 // border-left: 4px solid #FCD736;

 color: #ddd;
 max-width: 100%;
 margin-bottom: 1.2rem;
 border-radius: 3px;
 padding: 1rem 1.2rem;
 overflow-x: auto;
 
}
