.community--banner {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #343a42;
  padding: 2rem 0;
}

.community--banner--title {
  padding: 1rem 0;
  font-size: 3.5rem;
  font-weight: 300;
}

.community--section {
  padding: 40px 0;
}
