.contribute {

  .footer--container {
    margin-top: 20%;
  }
}

.contribute--banner {
  width: 100%;
  text-align: center;
  color: #999;
  background-color: #000;
  padding: 2rem 0;
}

.contribute--banner--title {
  padding: 1rem 0;
  font-size: 3.5rem;
  font-weight: 300;
  color: white;
}

.contribute--section {
  padding: 40px 0;
}
