@import '_grid';
@import '_breakpoints';

.docs--cli {

  @media (min-width: $breakpoint-sm) {
    display: flex;
  }
}

.docs--cli--column {
  display: flex;
  flex-direction: column;
}

.docs--cli--main {
  padding: 2rem;
}

.docs--cli--sidemenu {
  width: 100%;
  padding: 1rem;
  flex: 1 0 30%;
}
