
.gallery--grid--cell {
  padding-bottom: 40px;
}

.gallery--grid--card {
  max-width: 85%;
  margin: 0 auto;
}

.gallery--grid--card-body {
  display: flex;
}

.gallery--grid--card-title {
  flex: 1;
}
