.footer--container {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
  text-align: center;

  &.-hidden {
    display: none;
  }
}

.footer--copyright {
  color: #999;
  flex: 1;
  align-self: center;
}
